@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    border-radius: 15px;
}

html, body{
    height: 100%;
    font-size: 16px;
    font-weight: 500;
}

.contenedor-gral{
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* HEADER - TITULO e ÍCONO*/
header {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/img-dolar-mundo.jpg);
    background-size: auto;
    background-position: center;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    gap: 10px;
    min-height: 12vh;
}

.fa-coins{
    font-size: 1.5em;
    color: gold;
}

/* CUERPO */
.cuerpo{
    display: flex;
    flex-direction: row;
    flex: 1;
}


/* BARRA IZQUIERDA */
.cuerpo-izq {
    background-color: #fff;
    flex: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5rem;
    margin: 0.5rem;
    gap: 2em;
}

.cuerpo-izq ul.botones{
    list-style: none;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    flex: 1.5;
}

.cuerpo-izq ul.botones button{
    width: 100%;
    padding: 0.2rem;
    min-height: 25px;
    font-size: 90%;
    font-weight: bold;
    background-color: #0E6251;
    color: #fff;
    display: flex;
    align-items: center;
    border: 0px;
    max-height: 3em;
}

.cuerpo-izq ul.botones button:hover {
    background-color: #117864;
    cursor: pointer;
}

.cuerpo-izq ul.botones button:active {
    background-color: #48C9B0;
}

.cuerpo-izq ul.botones button i {
    padding-left: 0.5em;
}

.cuerpo-izq ul.botones button p {
    flex-grow: 1;
    font-size: 1em;
}

.cuerpo-izq li{
    padding: 0.3em;
    display: flex;
    justify-content: center;
    flex: 1;
}

.cuerpo-izq li:first-of-type{
    justify-content: flex-end;
}

.cuerpo-izq ul.botones button.inicio-button{
    width: 50%;
}

.cuerpo-izq div.contenedor-reseña {
    background-color: #fff;
    flex: 2;
    display: flex;
    flex-direction: column;
    border: 2px solid #0E6251;
    max-height: 15em;
    width: 12em;
}

.cuerpo-izq div.persona {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 10em;
}

.cuerpo-izq div.persona img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    padding: 1em;
    object-fit: cover;
    overflow: hidden;
}

.cuerpo-izq div.persona h2 {
    text-align: center;
    font-size: medium;
    padding-right: 10px;
    width: 3em;
}

.cuerpo-izq div.contenedor-reseña div.texto-reseña {
    font-size: small;
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: center; 
}

.cuerpo-izq div.contenedor-reseña div.texto-reseña p{
    height: max-content;
}


/* Para dispositivos un ancho máximo de 480px */
@media (max-width: 480px) {

    /* HEADER TEXTO - Control de tamaño icono y título*/
    header{
        font-size: 15px;
    }

    .fa-coins{  
        font-size: 20px;
    }
    


    /* CUERPO */

    /* CUERPO IZQ */
    .cuerpo-izq {
        flex: 1; /* achica el tamaño de */
    }

    .cuerpo-izq ul.botones button {
        min-height: 25px; /* ajusta altura minima de los botones */
        font-size: xx-small; /* ajusta el tamaño de la letra en los botones */
    }

    .cuerpo-izq ul.botones button i {
        font-size: xx-small;  /* ajusta el tamaño de los iconos en los botones */
        padding-left: 0px; 
    }
}


/* BARRA DERECHA*/
.cuerpo-der{
    flex-direction: column;
    flex: 1;
    display: flex;
}

div.cuerpo-der div.miga-de-pan{
    display: flex;
    justify-content: flex-end;
    margin: 0.1em;
    padding-right: 1em;
}

div.cuerpo-der div.miga-de-pan p {
    font-size: xx-small;
}

div.cuerpo-der main{
    background-color: #fff;
    flex: 4;
    margin: 5px;
    display: flex;
}

div.cuerpo-der div.miga-de-pan a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

div.cuerpo-der div.miga-de-pan a:hover {
    text-decoration: underline;
}

div.cuerpo-der div.miga-de-pan a:active {
    color: #0E6251;
}



/* FOOTER */
footer{
    background-color: #ededed;
    margin: 5px;
    display: flex;
    flex-direction: column;
    min-height: 15vh;
}
div.contenedor-footer{
    background-color: #ededed;
}

div.contenedor-footer a:link{
    color:rgb(89, 89, 89);
}

div.contenedor-footer a:visited{
    color:rgb(89, 89, 89);
}

div.listas-footer ul{
    list-style-type:"> ";
    padding-left:13px;
}
div.contenedor-footer-sup{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
}

.contenedor-footer-sup div:last-of-type{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

div.contenedor-footer-sup div {
    width: 25%;
}


div.contenedor-footer-sup p.contenedor-a {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.contenedor-footer-inf{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:1%;
}