.cuerpo-izq ul.botones li:nth-child(4) button {
    background-color: rgba(72, 201, 176, 0.7);
}

.cuerpo-izq ul.botones li:nth-child(4) button:hover {
    cursor: default;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1em;
}

.general{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width:100%;
    padding:2%;
}

.general-izq{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:100%;
    height: 100%;
    flex:1;
    background-color: rgba(93, 137, 123, 0.329);
    border-radius:10%;
    padding-left: 2%; 
    padding-right: 2%;
}




td:last-child{
    display:flex;
    justify-content: flex-end;
}
td input{
    width:80%;
    border-radius:0;
    border:1px solid black;
}
td textarea{
    width:80%;
    border-radius:0;
    border:1px solid black;
    resize:none;
}


.botones-abajo{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
div.botones-abajo button{
    margin-left:3%;
    padding:1%;
}
div.botones-abajo button:first-child{
    margin-left:9%;
    padding:1%;
}


.general-der{
    display:flex;
    flex-direction: column;
    height: 100%;
    width:85%;
    flex:2;
    padding-left: 2%;
    padding-right: 2%;
}
.der-arriba{
    display: flex;
    align-items: flex-start;
    height:100%;
    width:100%;
    flex-direction: column;
    padding:1%;

}
.der-abajo{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:100%;
    width:100%;
    border:2px solid black;
    margin:1%;
    margin-bottom:0;
}
.abajo-izq{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    padding:2%;

}
.abajo-der{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:2%;

}

