.cuerpo-izq ul.botones li:nth-child(1) button {
    background-color: rgba(72, 201, 176, 0.7);
}

.cuerpo-izq ul.botones li:nth-child(1) button:hover {
    cursor: default;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main h2 {
    text-align: center;
    padding-bottom: 0.5em;
}

div.selector {
    display: flex;
    background-color: #ededed;
    width: fit-content;
    gap: 0.5em;
    padding: 0.5em;
    border: 1px solid gray;
}

div.selector p {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 0.8em;
}

#select-moneda-index {
    height: 1.5em;
    max-width: fit-content;
    border: 0px;
    border-radius: 0px;
    flex: 1;
    cursor: pointer;
}

div.selector i {
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #0E6251;
    cursor: pointer;
}

.texto-datos-actualizados {
    display: flex;
    justify-content: flex-end;
    padding-right: 3em;
    margin: 0.2em;
    font-size: 0.7em;
}

main div.cotizaciones-container-index {
    display: flex;
    background-color: #ededed;
    flex: 1;
    padding: 1em;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.8em;
    max-height: 15em;
    border: 1px solid gray;
}

main div div.valor-container-index {
    display: flex;
    border-radius: 0;
    height: 20%;
    width: 49%;
    justify-content: center;
    align-items: center;
}

main div div div.caracteres-container-index {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
    border-radius: 0;
    flex: 1;
    height: 70%;
    padding: 0.4em;
    gap: 1em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2)
}

main div div div.caracteres-container-index h3:first-child {
    justify-content: flex-start;
    flex: 1;
    font-size: 1em;
}

main div div div.caracteres-container-index p {
    font-size: 0.7em;
    text-align: center;
}

main div div div.caracteres-container-index div h3 {
    font-size: 0.9em;
    text-align: center;
}

main div div.valor-container-index i {
    font-size: 1.5em;
    color: #0e62514d;
    padding-left: 0.2em;
    cursor: pointer;
}

main div div.valor-container-index:first-of-type i,
main div div.valor-container-index:last-of-type i {
    color: #0E6251;
}

main div.texto-abajo-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.2em;
}

main div.texto-abajo-main p {
    font-size: 0.8em;
}

main div.texto-abajo-main p:first-child::before {
    content: "!";
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 0.1em;
}

main div.texto-abajo-main p a {
    border-radius: 0.2em;
    color: #fff;
    background-color: #0E6251;
    padding: 0.1em;
    text-decoration: none;
}

main div.texto-abajo-main p a:hover {
    text-decoration: underline;
}

main div.texto-abajo-main p a:active {
    background-color: rgb(62, 174, 151);
}