.cuerpo-izq ul.botones li:nth-child(3) button {
    background-color: rgba(72, 201, 176, 0.7);
}

.cuerpo-izq ul.botones li:nth-child(3) button:hover {
    cursor: default;
}


/* GENERAL */

.contenedor-informes {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* TITULO */
.titulo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* MITAD SUPERIOR */
.mitad-superior {
    flex: 5;
    display: flex;
}

.superior-izquierda {
    width: 40%;
} 

.superior-derecha {
    width: 60%;
}

/* Superior izquierda */
.superior-izquierda {
    display: flex;
    flex-direction: column;
}

/* Selector de monedas */
.selector-contenedor {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selector-contenido {
    background-color: rgb(237, 237, 237);
    border: 1px solid gray;
    width: 80%;
    padding: 2%;
}

.seleccionable {
    display: flex;
    margin: 2%;
    padding-left: 5%;
}

.seleccionable select {
    width: 100%;
    border-radius: 0;
}

.fa-filter {
    padding-left: 1vw;
    color: rgb(14, 98, 81);
}

/* Compartir info */

.compartir-info {
    flex: 1;
    padding-left: 5%;
    display: flex;
    align-items: end;
}

.compartir-info a {
    color: black;
    text-decoration: none;
}

.compartir-info a:hover {
    text-decoration: underline;
}

.compartir-info a:active {
    color: #0E6251;
}

.fa-envelope-open-text {
    font-size: 2em;
    padding-right: 2%;
    color:  rgb(14, 98, 81);
}

/* Superior derecha */
.superior-derecha {
    display: flex;
    
}

.grafico {
    background-color: rgb(237, 237, 237);
    border: 1px solid black;
    text-align: center;  /* sacar */
    margin: 2%;
    flex: 1;
}


/* MITAD INFERIOR */
.mitad-inferior {
    display: flex;
    flex: 1;
    max-height: 40%;
}


/* tabla */
.tabla {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    border-spacing: 0px;
    background-color: rgb(237, 237, 237);
    margin: 1%;
}

tbody {
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 12vh;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

tr, th, td {
    display: flex;
    justify-content: center;
    padding: 0.2% 0%;
}

th, td {
    width: 20%;
    text-align: center;
    border-radius: 0%;
}

.tabla th {
    color: #0E6251;
    border-bottom:  1px solid black;
    border-left: 1px solid black;
}

.tabla thead th:first-child {
    border-left: 0px;
}

.moneda {
    background-color: rgb(237, 237, 237);
    width: 100%;
    padding-left: 2%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    justify-content: start;
}

/* íconos */
.fa-circle-arrow-up {
    color: green;
}

.fa-circle-arrow-down {
    color: red;
}