.cuerpo-izq ul.botones li:nth-child(2) button {
    background-color: rgba(72, 201, 176, 0.7);
}

.cuerpo-izq ul.botones li:nth-child(2) button:hover {
    cursor: default;
}

/* CONTENEDOR GENERAL DE LA PÁGINA "MI ARCHIVO"*/

.contenedor-miarchivo{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* TÍTULO DE LA PÁGINA MI ARCHIVO */
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10%;
}

.titulo tbody, tr {
    width: 100%;
    display: flex;
}

.icono{
    font-size: 150%;
    color: #0E6251;
}

/*TABLA DE COTIZACIONES*/

/*General*/
.tabla{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    margin: 0.5%;
    font-weight: 500;
    max-height: 45vh;  /**/
}

thead{
    border-bottom: 1px solid gray;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    background-color: #ededed;
}

tbody{
    overflow: auto;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;    
}

.fila{
    text-align: center;
    display: flex;
    padding: 3px 0px; /* sacar este padding si se quiere hacer el borde entre columnas */
}

th, td{
    width: 100%;
    border-radius: 0%;
}

th {
    padding: 0.4em;
    color: #0E6251;
}

.contenido-fecha{
    text-align: left;
    padding-left: 2%;
    border: 1px solid gray;
    background-color: #ededed;
}

/* Nombre de la moneda */
.columna-moneda{
    text-align: left;
}

/* Ícono para borrar */
.columna-borrar{
    color: #C55A11;
    font-size: 20px; /* ojo responsive */
}